input[type=text]:focus
{
  outline:  none;
}

.dashboard {
  height: 720px;
}
.dashboard__items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 30px;
  height: 100%;
  img {


    transition: 0.3s;
    height:60px;
    width: 60px;

    &:hover {
      opacity: 0.7;
    }
  }
    
  }
  

.footer {
  background: #0086ed; 
  background: -webkit-linear-gradient(top, #0086ed 0%,#50a4e0 100%); /* Chrome10-25,Safari5.1-6 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0086ed', endColorstr='#50a4e0',GradientType=0 ); /* IE6-9 */
  color:red;
  height: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display:flex;
}
.footer__icon {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

  .icon__window {
  height:36px;
  width:36px;
  &:hover {
    cursor: pointer;
  }
  }

  .icon__sound {
    height:16px;
    width:16px;
    padding-right:20px;

    &:hover {
      cursor: pointer;
    }
    }

.validation--close {
  display: none;

  &.is-open{
      background-color:rgba(204, 207, 209, 0.658);
      border: none;
      border-radius: 30px;
      height: 25px;
      align-content: center;
      width:300px;
      display: flex;
  }
}

.photo {
  background-color:red;
  width: 1000px;
  height: 700px;
  position: absolute;
  top:25px;
  right: 100px;
  display:none;
}

.photo--open {
  display:flex;
}



.dashboard__messages {
  width: 1000px;
  height: 500px;
  position: absolute;
  top:25px;
  right: 100px;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.705) 0px 0px 6px;

}

.dashboard__messages--open {
  display:flex;
}

.input{
  background-color:rgba(204, 207, 209, 0.658);
  border: none;
  border-radius: 30px;
  height: 25px;
  align-content: center;
  width:300px;
  display: flex;
}

// partie conversation

.window{
  width:1000px ;
  height:450px ;
  background: #0F0F0F;
}

.window__toolbar{
  height: 50px;
  background: linear-gradient(to bottom, #434446 0%,#37383A 100%); 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar__buttons{
  width: 100px;
  height: 100%;
  background: linear-gradient(to bottom, #434446 0%,#37383A 100%); 
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.buttons__button{
  width: 20px;
  background:gold;
  height: 20px;
}

.toolbar__title{
  margin-left: 10px;
  color:white;
}

.window__messages{
  display: flex;
  height: 400px;
}

.messages__contacts{
  width: 250px;
  background: #0F0F0F;
  border-right: .5px solid rgba(255, 255, 255, 0.096);
  overflow: scroll;
}

.contacts__contact{
  width: 100%;
  height: 100px;
  background: #0F0F0F;
  border-top: .5px solid rgba(255, 255, 255, 0.096);
  display: flex;
  align-items: center;
 
}

.contact__picture{
width: 40px;
height: 40px;
background:white;
border-radius: 30px;
margin-left: 10px;
}

.contact__name{
color: white;
margin-left: 10px;
}

.messages__conversations{
  width: 1030px;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  overflow: scroll;
}

.message__conversations--isOpen{
  display: flex;
}
.conversations__conversation{
  width: 600px;
  background: linear-gradient(to bottom, #DDDDDD 0%,#B4B4B4 100%); 
  border-radius: 30px;
  font-size: 17px;
  padding: 20px;
  margin: 10px;
}

.conversations__conversation:nth-child(odd){
  align-self: flex-start;
  background: linear-gradient(to bottom, #4495FF 0%,#0059d2 100%); 
}
.window__inputs{
  width: 100%;
  height: 50px;
  background: #343434; 
  background: -webkit-linear-gradient(top, #343434 0%,#272727 100%); 
  display:flex; 
  justify-content: space-between;
  align-items: center;

  
}
.inputs__input{
  width:900px;
  height: 25px;
  margin-left: 15px;
  border-radius: 30px;
  text-indent: 20px;
  font-size: 20px;
  border: none;
}

.inputs__logo{
  height: 25px;
  width: 25px;
  background: white;
  border-radius: 30px;
  margin-right: 20px;
}


// fenetre photos 

.dashboard__photos {
  width: 1000px;
  position: absolute;
  top:65px;
  right: 160px;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.534) 0px 0px 20px;
}

.dashboard__photos--open {
  display:flex;
}


.photos {
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height:60px;
    width: 60px;
    padding-right: 20px;
    transition: 0.5s transform;

    &:hover {
      transform: scale(1.2,1.2);
      opacity: 0.7;
    }
  }

}

// fenetre NOTES 

.dashboard__notes {
  width: 1000px;
  position: absolute;
  top:85px;
  right: 180px;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.534) 0px 0px 20px;
}

.dashboard__notes--open {
  display:flex;
}


.notes {
  display: flex;
  justify-content: center;
}
.notes__paper {
width: 100px;
height: 130px;
margin-top: 10px;
margin-right: 10px;
border-radius:10px;
padding:5px;
}

.notes__paper--one{
  background: blue;
  }

.notes__paper--two{
  background: red;
  }
  .notes__paper--three{
    background: yellow;
  }
  .notes__paper--four{
    background: gold;
  }
  .notes__paper--five{
    background: teal;
    }
    .notes__paper--six{
      background: cyan;
      }



// fenetre MUSIC 

.dashboard__music {
  width: 1000px;
  position: absolute;
  top:105px;
  right: 200px;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.534) 0px 0px 20px;
  

  img {
    height: 120px;
    width: 120px;
    margin-bottom: 10px;
    transition: 0.7s transform;

    &:hover {
      transform: scale(1.2,1.2);
      opacity: 0.7;
    }
  }
}

.music {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.music__assets {
  color:white;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 140px;
  width: 140px;
  

}


.dashboard__music--open {
  display:flex;
}


// fenetre corbeille 

.dashboard__bin {
  width: 1000px;
  position: absolute;
  top:155px;
  right: 230px;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.534) 0px 0px 20px;
}

.bin__document {
  padding:30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 110px;
  width: 100px;

  span {
    margin-top: 10px;
    color:white;
    font-weight: bold;
  }
  img {
    transition: .4s transform;
  }
  img:active {
    transform:scale(.8,.8);
    opacity: 0.7;
  }
}

.dashboard__bin--open {
  display:flex;
}

h1 {
  color: red;
  font-size: 50px;
  text-align: center;
}