@import url("https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei");

@font-face {
  font-family: "Phantom";
  src: url("../../src/assets/fonts/PhantomFingers.ttf");
}
@keyframes move {
  from {
    transform: translateY(90px);
  }
  to {
    transform: translateY(70px);
  }
}
@keyframes presentation {
  from {
    transform: translateY(330px);
  }

  to {
    transform: translateY(100px);
  }
}
.timer {
  color: white;
  font-size: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
}
.index {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.index__logo {
  display: flex;
  justify-content: center;
  img {
    width: 50%;
    height: 50%;
  }
}

.index__button {
  color: white;
  animation: move 2s alternate infinite;

  a {
    text-decoration: none;
    font-size: 32px;
    font-family: Phantom;
    color: white;
    text-transform: uppercase;
    font-size: 23px;

    &:hover {
      color: red;
      opacity: 0.5;
    }
  }
}

.presentation {
  color: #ff2100;
  opacity: 0.4;
  font-size: 40px;
  text-transform: uppercase;
  padding: 50px;
  text-align: center;
  animation: presentation 7s forwards linear;
  font-family: "ZCOOL XiaoWei", serif;
}
